<br>
<br>
<br>
<br>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-subtitle>General service</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://img.freepik.com/free-photo/muscular-car-service-worker-repairing-vehicle_146671-19605.jpg">
    <mat-card-content>
      <p>
        A general car service is a comprehensive maintenance procedure performed on a vehicle to ensure its optimal performance, safety, and longevity. It involves a thorough inspection, cleaning, and replacement of various components and fluids within the vehicle.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
